*.[oa]
*~
*.pyc
*~
AUTHORS
ChangeLog
INSTALL
Makefile.in
NEWS
aclocal.m4
ar-lib
autom4te.cache/
build/
compile
config.guess
config.sub
configure
depcomp
install-sh
ltmain.sh
py-compile
m4/
missing
test-driver
debbuild/
sample_configs.c
sample_configs.h
sample_configs_test.c
sample_ipcconfigs.c
sample_ipcconfigs.h
sample_ipcclient.c
sample_non_thread.h
README
*.conf
README.pdf
README.tex
xl4unipac-doc_1.0.0_amd64.deb
xl4unipac_1.0.0.dsc
xl4unipac_1.0.0.tar.gz
xl4unipac_1.0.0_amd64.build
xl4unipac_1.0.0_amd64.buildinfo
xl4unipac_1.0.0_amd64.changes
xl4unipac_1.0.0_amd64.deb
